<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app = "myApp">
    <head>
        <title>GEOLOCALIZACION</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="index.js" type="text/javascript"></script>
        <!-- Angular -->     
    </head>
    
    <body ng-controller = "ctrIndex">
        <div>hola mundo</div>
    </body>
    
</html>